.navbarContainer {
    align-items: center;
    width: 100;
    height: 50px;
    border: 1px solid black;
}

.logo {
    float: left;
}

.rightContent {
    display: flex;
    flex-direction: row;
    float: right;
}

.notification {
    width: auto;
    height: auto;
}
