.mainContainer {
    display: flex;
    align-items: center;
    justify-self: center;
    padding: 20px;
}

.title, .location{
    display: flex;
    padding: 10px;
}

.label{
    display: flex;
    align-items: center;
    padding: 5px 30px;
    margin: 5px;
}

.input {
   margin-left: auto;
   height: 40px;
}

.checkbox {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: medium;
    margin: 0px 5px;
}

.jobTitleInput {
    margin-left: auto;
    border: transparent;
    border-bottom: 1px solid #090540;
}

.submitButton {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.button {
    display: block;
    margin: 15px;
    background-color: #4BABE1;
    height: 40px;
    width: 120px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    font-weight: bold;
    border: transparent;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.locationDetails {
    display: flex;
    flex-direction: column;
}

@media only screen and (max-device-width: 400px){
    


    .submitButton {
        justify-content: center;
    }

    .title, .location{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


}


