.jobContainer {
    display: flex;
    flex-direction: column;
    width:60%;
    margin:10% 20%;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    
}

.button {
    float:right;
    background-color: white;
    color:#4BABE1;
    border: transparent;
    padding: 25px 45px;
    font-family:sans-serif;
    font-size: large;
    cursor: pointer;
}


