.mainContainer {
    display: flex;
    flex-direction: column;
    height: auto;
}

.header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.backArrow {
    padding: 10px;
}

.skillInput {
    display:flex ;
    margin-left: auto;
}

.tilte {
    padding: 20px;
}

.skill, .mode, .stipendRange, .duration {
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.description {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.input {
    overflow-y: scroll;
    height:100px;
}

.modeCardHolder {
    display: flex;
    flex-direction: row;
}